@import url("https://cdn.web-fonts.ge/fonts/bpg-mrgvlovani/css/bpg-mrgvlovani.min.css");


.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

.flex {
    display: flex !important;
}


@media (max-width: 768px) {
    .flex {
        flex-wrap: wrap;
    }
}

.align-center {
    align-items: center !important;
}


.justify-center {
    justify-content: center !important;
}

.justify-end {
    justify-content: end !important;
}

.justify-between {
    justify-content: space-between !important;
}

.p-0 {
    padding: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}



.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}


.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.page {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


html {
    overflow: overlay;
}

body {
    font-family: "BPG Mrgvlovani", sans-serif !important;
    background-color: #fdfdfd;
    font-display: swap;

}

/* Button */
.root-0-2-45 {
    border: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.root-0-2-45:hover,
.root-0-2-45:focus {
    outline: none;
    text-decoration: none;
}

.animation-0-2-46 {
    transition: all 0.3s ease 0s;
}

.sizeMd-0-2-50 {
    padding: 0.875rem 1.75rem;
    font-size: 16px;
    border-radius: 10px;
}

.variantAccent-0-2-55 {
    color: rgb(255, 255, 255);
    background-color: #1890ff;
}

.variantAccent-0-2-55:hover {
    color: rgb(255, 255, 255);
    background-color: #40a9ff;
}

.variantAccent-0-2-55:focus {
    box-shadow: #40a9ff;
}

.variantAccent-0-2-55:active {
    box-shadow: unset;
    background-color: #096dd9;
}

.page-enter-active,
.page-leave-active {
    transition: opacity .3s;
    /* transition: .4s; */
}



.page-enter,
.page-leave-to {
    opacity: 0;
}